.GG {
    position: absolute;
    right: 20em;
    bottom: 4em;
    padding:.3em;
}

.player1 {
    position: absolute;
    left: 28em;
    bottom: 5em;
}

.player2 {
    position: absolute;
    left: 26.5em;
    bottom: 5em;
}

table {
    margin: 0 auto;
    text-align: center;
    background-image: url("../images/board.png");
    background-size: contain;
    background-repeat: no-repeat;
}

td {
    width: 60px; height: 60px;
    vertical-align: bottom;
}

#dice {
  position: fixed;
  right: 5em;
  top: 20em;
  padding:.3em;
}

#dice:hover {
  background-color: grey;
}

.start {
  border-style: dotted;
}

.gameBoard {
  vertical-align: bottom;
}

#players{
  margin: auto;
  background-color:white;
  border: 2px;
  border-style: solid;
  border-color: orange;
  width: 500px;
  padding: 10px;
}

#player1name {
  text-align: left;
  color:green;
}

#player2name {
  text-align: left;
  color:red;
}

#player3name {
  color:purple;
  text-align: left;
}

#player4name {
  text-align: left;
  color:blue;
}
