html * {
   color: black;
   font-family: Arial !important;
}

.GG {
    position: absolute;
    right: 20em;
    bottom: 4em;
    padding:.3em;
}

.player1 {
    position: absolute;
    left: 28em;
    bottom: 5em;
}

.player2 {
    position: absolute;
    left: 26.5em;
    bottom: 5em;
}

table {
    margin: 0 auto;
    text-align: center;
    background-image: url("../images/board.png");
    background-size: contain;
    background-repeat: no-repeat;
}

td {
    width: 60px; height: 60px;
    vertical-align: bottom;
}

#dice {
  position: fixed;
  right: 20em;
  top: 20em;
  padding:.3em;
}

#dice:hover {
  background-color: grey;
}

.start {
  border-style: dotted;
}

.gameBoard {
  vertical-align: bottom;
}
