html *
{
   color: black;
   font-family: Arial !important;
}
.GG {
    position: absolute;
    right: 20em;
    bottom: 4em;
    padding:.3em;
}

.player1 {
    position: absolute;
    left: 28em;
    bottom: 5em;
}

.player2 {
    position: absolute;
    left: 26.5em;
    bottom: 5em;
}

table {
	margin: 0 auto;
  /*background: orange;*/
  text-align: center;
  background-image: url("../images/board.png");
  background-size: contain;
}
td {  
    width: 60px; height: 60px;
    vertical-align: bottom;
}
tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
	/* background: white; */
}

#dice {
  position: absolute;
  right: 20em;
  bottom: 30em;
  padding:.3em;
}
/*tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
	color:#FFA500;
}*/
