table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 80px;
    width: 700px;
    background-color: powderblue;
}

th {
    text-align: left;
    vertical-align: top;
}

.GG {
    position: absolute;
    right: 20em;
    bottom: 4em;
    padding:.3em;
}

.player1 {
    position: absolute;
    left: 28em;
    bottom: 5em;
}

.player2 {
    position: absolute;
    left: 26.5em;
    bottom: 5em;
}

